<section class="profile-pres">
   {{#if user}}

    <h1>Welcome
    {{user.userName}} !
   </h1>
   
   <ul>
      <li> <a class="nav-bar-item-profile" href="/profile/update-profile">Update your profile</a></li>
      <li> <a class="nav-bar-item-profile" href="/profile/update-password">Modify your password</a></li>
      <li> <a class="nav-bar-item-profile" href="/profile/delete-account">Delete your account</a></li>
      </ul>
   <article class="container"> 
      <h2>Got a question ?</h2>
      <p class="text">We would love to help you</p>
      <a href="/posts/create">Ask a question </a>
   </article>

<div class="table-responsive">
   <table class="table table-striped">
      <h3>All your questions</h3>
      <thead>
      <tr>
         <th>N°</th>
         <th>Date of your Post</th>
         <th>Category of your Post</th>
         <th>Your Question</th>
         <th>Answered</th>
      </tr>
      </thead>
      <tbody>
         <tr>{{#each userPosts}}</tr>

         <td><ol><li></li></ol>
         <button type="button" class="btn btn-primary btn-sm">Modify</button></td>
         <td>{{this.created}}</td>
         <td>{{this.category}}</td>
         <td>{{this.postText}}</td>
         <td>{{this.isResolved}}</td>
      {{/each}}
      
      </tbody>
   </table>
   {{/if}}
   </div>
</section>

