<div class="container-fluid mt-5">
   <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-11"></div>
  </div>
  
  <div class="container-fluid mt-5">

   <div class="row">

    <div class="col-sm-2">
       <div class="navbar bg-light navbar-dark">
        <ul class="nav flex-column">
           {{#if user}}
          {{#if user.isAdmin}}
          <li class="nav-item">
            <a class="nav-link" href="/intranet/admin-dashboard">Return to your dashboard</a>
            </li>
            {{else}}
            <li class="nav-item">
            <a class="nav-link" href="/profile/profile-home">Return to your profile</a>
            </li>
            {{/if}}
            {{/if}}
        </ul>
       </div>
    </div>

    <div class="col-sm-6">
       <section>
          <form class="form-inline" action="/profile/update-profile" method="POST">
          <fieldset>
             <legend class="h2">Update your profile</legend>
             <br>
             
             <label> Company Name *
                <input 
                type="text" 
                name="companyName"
                value="{{companyName}}"
                size="50" autofocus
                />
                </label>

             <label> Name *
                <input 
                type="text" 
                name="userName"
                value="{{userName}}"
                />
                </label>
                
                <label> Location
                   <input 
                   type="text" 
                   name="location" 
                   placeholder="Your city"
                   value="{{location}}"
                   />
                   </label>

    <label> Email *
      <input 
      type="text" 
      name="email"
      value="{{email}}"
      >
   </label>

    <label> Phone Number *
      <input 
      type="tel"
      name="phoneNumber"
      value="{{phoneNumber}}"
      >
   </label>

   <label> Your Job
      <input 
      type="text" 
      name="jobTitle"
      value="{{jobTitle}}"
      >
   </label>

   <label> Your business activities
      <input 
      type="text" 
      name="business"
      value="{{business}}"
      >
   </label>
   <br>
   <button type="submit">Save</button>
   <button type="reset">Cancel</button>
   </fieldset>
</form>

{{#if updateProfileMsg}}
  <p style="color:red">{{updateProfileMsg}}</p>
{{/if}}
</section>
    </div>
  </div>
