<section class="admin-dashboard">
   <h1>Welcome {{user.userName}} !</h1>
   <nav class="nav-bar-profile">
      <ul class="nav-bar-ul-profile">
         <li> <a class="nav-bar-item-profile" href="/profile/update-profile">Update your profile</a></li>
         <li> <a class="nav-bar-item-profile" href="/profile/update-password">Modify your password</a></li>
         <li> <a class="nav-bar-item-profile" href="/profile/delete-account">Delete your account</a></li>
      </ul>
   </nav>
<div class="table-responsive">
   <table class="table table-striped">
      <h2>Customers Questions not assigned</h2>
      <thead>
      <tr>
         <th>Assign</th>
         <th>Name</th>
         <th>Company Name</th>
         <th>Date</th>
         <th>Category</th>
         <th>Question</th>
         <th>Answered</th>
      </tr>
      </thead>
      <tbody>
         <tr>{{#each userPosts}}</tr>

         <td>
            <form action="/intranet/{{this._id}}/assign" method="post">
            <select name="assignedTo" >
            {{#each ../companyUsers}}
            <option value="" selected disabled hidden>Choose here</option>
            <option value= "{{this._id}}" default= "">{{this.userName}}</option>
            {{/each}}
         </select>
               <button type="submit" class="btn btn-primary btn-sm">Assign</button>
               <form action="/intranet/{{this._id}}/delete" method="post">
               <button type="submit" class="btn btn-warning btn-sm">Delete</button>               </td>
         <td>{{this.postUserId.userName}}</td>
         <td>{{this.postUserId.companyName}}</td>
         <td>{{this.created}}</td>
         <td>{{this.category}}</td>
         <td>{{this.postText}}</td>
         <td>{{this.isResolved}}</td>
      {{/each}}
      
      </tbody>
   </table>
   </div>
</section>