<section>
  <form action="/posts/{{post._id}}/edit" method="POST">
    <fieldset>
      <legend>Your post</legend>
      <label> Category</label>
      <select name="category" autofocus>
        <option value="{{post.category}}">{{post.category}}</option>
        {{#each category}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
      <br />

      <label> Question</label>
      <input type="text" name="postText" value="{{post.postText}}" />
      <br />

      <button type="submit">Modify my post</button>
    </fieldset>
  </form>

  {{#if errorMessage}}
    <p style="color:red">{{errorMessage}}</p>
  {{/if}}
</section>